{% load static %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Django Invoicing App">
    <meta name="author" content="Django Invoicing App">
    <title>Django Invoicing App</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    {% comment %} <link href="{% static 'assets/dist/css/signin.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'assets/dist/css/header.css' %}" rel="stylesheet">
    <link href="{% static 'assets/dist/css/features.css' %}" rel="stylesheet">
    <link href="{% static 'assets/dist/css/dashboard.css' %}" rel="stylesheet">
